<h1>Category Show Page</h1>
<div class="min-h-screen flex justify-center">
  
  <div class="flex flex-wrap mt-6 gap-10 flex-grow justify-center items-start">
    <% if @products.empty? %>
      <p class="text-2xl text-left text-gray-800">No products found</p>
    <% else %>
      <% @products.each do |product| %>
        <%= link_to product_path(product) do %>
          <div class="max-w-xs flex flex-col p-4 justify-center items-center">
            <%if product.images.first %>
                <%= image_tag product.images.first, width: 250, height: 250, class: "w-250 h-250 object-cover rounded-md" %>
            <% else %>
                <%= image_tag("https://via.placeholder.com/50")%>
            <%end %>
            <p class="mt-6 font-medium text-gray-800"><%= product.name %></p>
          <div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>