<h1>Editing cricketer</h1>

<%= render "form", cricketer: @cricketer %>

<br>

<div>
  <%= link_to "Show this cricketer", @cricketer %> |
  <%= link_to "Back to cricketers", cricketers_path %>
</div>
