<h1>Hello</h1>


<ul>
    <li>
        <%= link_to("Tasks index",{controller: "tasks", action: "index"}) %>
    </li>
    <li>
        <%= link_to("Tasks edit",{controller: "tasks", action: "edit"}) %>
    </li>
</ul>